

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 3%, 94%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  margin-left: 100px;
}

.dark-mode {
  margin-top: 35px;
  margin-right: 300px;
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 100px;
}

.country-card {
  background-color: hsl(0, 0%, 100%);
  width: 350px;
  height: 400px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.country-flag {
  border-radius: 5px 5px 0px 0px;
}

.country-card-info {
  margin: 15px;
  margin-left: 35px;
  font-size: 15px;
}

.country-card-name {
  margin: 15px;
  margin-left: 35px;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.homepage {
  border: 2px solid rgb(230, 228, 228);
  width: 90px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-left: 150px;
  margin-bottom: 60px;
}

.filters {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: -50px;
}

input[type=text] {
  padding: 20px;
  padding-left: 50px;
  width: 35%;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  color: hsl(0, 0%, 52%)
}

input:focus {
  outline: 1px solid hsl(0, 0%, 52%);
}

select {
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  color: hsl(0, 0%, 52%)
}


.country-f {
  margin-top: 7%;
}

.country-content {
  margin-left: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.country-info {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: repeat(4, 35px);
}

.border-countries {
  display: flex;
  margin-top: 100px;
  gap: 15px;
}

.border-country-link {
  padding: 10px;
  border: 2px solid rgb(230, 228, 228);
  border-radius: 5px;
  margin-top: 10px;
}

.loading {
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}