

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  --background: hsl(0, 0%, 95%);
  --text-color: hsl(200, 15%, 8%);
  --elem-background: hsl(0, 0%, 100%);
  --input-color: hsl(0, 1%, 38%);
  --shadow-color: hsl(0, 0%, 93%);
  background-color: var(--background);
  width: 100%;
  min-height: 120vh;
  color: var(--text-color);
}

.header {
  background-color: var(--elem-background);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 3px 5px var(--shadow-color);
}

.title {
  margin-left: 100px;
}

.dark-mode-button {
  border: 0px;
  margin-right: 100px;
  font-size: 25px;
  background-color: inherit;
  color: var(--text-color);
  margin-top: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: -133px;
}

.card {
  background-color: var(--elem-background);
  width: 250px;
  height: 390px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.country-flag {
  border-radius: 5px 5px 0px 0px;
}

.country-card-info {
  margin: 15px;
  margin-left: 25px;
  font-size: 13px;
  font-weight: 100;
}

.country-card-name {
  margin: 15px;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 1500;
}

a {
  text-decoration: none;
  color: inherit;
}

.homepage {
  width: 90px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-left: 150px;
  margin-bottom: 60px;
  background-color: var(--elem-background);
  box-shadow: 1px 1px 8px 1px rgb(182, 182, 182);
}

.filters {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: -50px;
}

input[type=text] {
  padding: 20px;
  padding-left: 50px;
  width: 30%;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--elem-background);
  color: var(--text-color)
}

input:focus {
  outline: 1px solid var(--input-color);
}

select {
  background-color: var(--elem-background);
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--input-color)
}


.country-f {
  margin-top: 7%;
}

.country-content {
  margin-left: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.country-info {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: repeat(4, 35px);
}

.main {
  margin-top: 100px;
}

.border-countries {
  margin-top: 50px;
  gap: 15px;
}

.border-country-link {
  margin-right: 5px;
  padding: 10px;
  border: 2px solid var(--elem-background);
  border-radius: 5px;
  background-color: var(--elem-background);
  box-shadow: 1px 1px 8px 1px rgb(182, 182, 182);
}

.back {
  width: 0px;
}


.loading {
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-content.dark {
  --background: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --elem-background: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 100%);
  --shadow-color: hsl(208, 24%, 15%);
}

.border-country-link.dark {
  box-shadow: 1px 1px 8px 1px hsl(208, 24%, 15%);
}

.homepage.dark {
  box-shadow: 1px 1px 8px 1px hsl(208, 24%, 15%);
}

.borders-grid {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-gap: 10px
}

/*Change Place Holder search input color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--text-color);
}


@media (max-width: 1800px) {
  .card {
    width: 200px;
    height: 300px;
  }
  img.country-flag {
    width: 200px;
    height: 130px;
  }
  .grid {
    grid-gap: 0px;
  }
  img.country-details-flag {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .dark-mode-button {
    margin-right: 5%;
  }
  select {
    margin-right: -2%;
  }
  .country-f {
    font-size: 15px;
  }
  .border-countries {
    margin-top: 50px;
  }
}

@media (max-width: 1500px) {
  .grid {
    margin-right: -5.5%;
  }
  .country-f {
    margin-top: 10px;
    font-size: 15px;
  }
  .country-info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 35px);
  }
  .border-countries {
    width: 70%;
  }
  .border-country-link {
    width: 7%;
    padding: 0px;
    font-size: 13px;
    text-align: center;
    padding-top: 12px;
  }
}

@media (max-width: 1300px) {
  .grid {
    margin-right: -2%;
  }
}

@media (max-width: 1300px) {
  .dark-mode-button {
    margin-right: 3%;
  }
  select {
    margin-right: -7%;
  }
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin-right: -4%;
  }
  .dark-mode-button {
    margin-right: 10%;
  }
  select {
    margin-right: 0px;
  }
  .back {
    margin-left: -15%;
    margin-top: 100px;
    margin-bottom: -20px;
  }
  .country-content {
    margin-left: 5%;
  }

  .country-f{
    margin-top: -20px;
    font-size: 13px;
  }
  .border-countries {
    font-size: 12px;
  }
  .border-country-link {
    padding-left: 3px;
    padding-right: 10px;
    max-height: 30px;
  }
}

@media (max-width: 900px) {
  .main-content {
    width: 100vw;
  }

  .grid {
    margin-right: 30px;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20%;
  }
}

@media (max-width: 700px) {
  .filters {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .main-content {
    margin: 0px;
  }
  .header {
    margin: 0px;
    width: 100%;
    font-size: 8px;
    padding: 10px;
  }
  .title {
    margin-left: 10%;
  }

  .dark-mode-button {
    margin: 0px;
    padding-right: 70px;
    font-size: 15px;
  }

  .filters {
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -250px;
  }
  input {
    margin-bottom: 10px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 80px;
  }

  .card {
    width: 400px;
    height: 350px;
  }
  
  .country-card-info {
    font-size: 18px;
  }

  .country-card-name {
    font-size: 25px;
  }

  img.country-flag {
    width: 400px;
    height: 150px;
  }
  .country-content {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  img.country-details-flag {
    width: 90%;
  }
  .country-f {
    margin-top: -70px;
  }
  .back {
    margin-top: 40px;
    margin-left: -90px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 250px;
    height: 350px;
  }
  img.country-flag {
    width: 250px;
    height: 150px;
  }
  .country-info {
    display: flex;
    flex-direction: column;
  }
  p {
    margin-top: 1px;
  }

  .borders-grid {
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .border-countries {
    flex-direction: column;
  }

  .back {
    margin-left: -110px;
  }

  .border-country-link {
    padding: 6px;
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 10px;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .filters {
    margin-left: -200px;
    margin-bottom: -60px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 14px;
  }
  .filters {
    margin-top: 10px;
    margin-left: -195px;
    margin-bottom: -60px;
  }
  input[type=text] {
    font-size: 15px;
    padding: 8px;
  }
  select {
    font-size: 10px;
    padding: 8px;
  }
}